    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Lotto Recommend</h1>
                        
                        <p class="intro-text">예상 번호
                            <br><%= @paramLotto %></p>
                        <p class="intro-text">저번주 당첨번호
                            <br><%= @scrapNumbers %></p>
                        <p class="intro-text">맞는 번호
                            <br><%= @match_numbers %></p>
                        <p class="intro-text">결과
                            <br><%= @result %></p>
                        <a href="/">
                            <i class="glyphicon glyphicon-remove">돌아가기</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
